{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<h3 class="text-center mt-5"> {{ title }}</h3>
<div class="row">
    <div class="gallery-big col-11 col-lg-6 col-md-6 col-sm-10 m-auto" >
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators m-0">
            {% for image in product.image_set.all %}

            {% if image == product.image_set.first %}
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            {% else %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endif %}
            {% endfor %}
            </ol>
            <div class="carousel-inner">



            {% for image in product.image_set.all %}

            {% if image == product.image_set.first %}
            <div class="card-slider carousel-item active" style="background-image: url('{{ product.image_set.first.image.url }}')">
            </div>
            {% else %}
            <div class="card-slider carousel-item" style="background-image: url('{{ image.image.url }}')">
            </div>
            {% endif %}




            {% endfor %}

            </div>
        </div>
        <p class="mt-3 "><span class="text-danger">أسم المنتج: </span>{{ product.title }}</p>
        <p class="mt-3 "><span class="text-danger">سعر المنتج: </span>{{ product.price }}</p>
        {% if product.discount_set.first %}
        <p class="mt-3 "><span class="text-danger">خصم المنتج: </span>{{ product.discount_set.first.percentage|floatformat }}%</p>
            
        {% endif %} 
    </div>
    <div class=" col-11 col-lg-6 col-md-6 col-sm-10 m-auto">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formsetattr|crispy }}
            <input class="btn btn-primary" type="submit" name="submit" value="أضافة المزيد" />
        </form>
        <hr>
        <a class="btn btn-primary mt-3" href="{% url 'control_list_product' %}">حفظ</a>
    </div>




</div>


{% endblock %}
