{% extends "base.html" %}
{% load static %}



{% block content %}
<h3 class="text-center mt-5"> {{ title }}</h3>
<div class="row">
    {% for category in categorys %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-5">

        <div class=" text-center bg-secondary overlaye rounded">
            <p class=" text-white p-2 m-0">{{ category }} </p> 
            <div>
                    <a href="{% url 'edit_category' category.id %}" class="link-buy bg-primary">تعديل</a>
                    <a href="{% url 'delete_category' category.id %}" class="link-buy bg-dengr">حذف</a>
                    
            </div>
        </div>
           
           


    </div>

    {% endfor %}
</div>
{% endblock %}

