{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="text-center mt-5">{{ title }}</h1>
<div class="row">
    <div class="control-card mt-3 col-lg-4 col-md-4 col-sm-6 col-6">
        <a class="bg-primary"  href="{% url 'new_category' %}">
            
            <div class="text-center">
                    <span><i class="far fa-plus-square h2 mb-1"></i></span>
                    <br>
                    <span>أضافة فئة جديدة</span>
            </div>
        </a>
    </div>
    <div class="control-card mt-3 col-lg-4 col-md-4 col-sm-6 col-6">
        <a class="bg-danger"  href="{% url 'control_list_category' %}">
            
            <div class="text-center">
                    <span><i class="far fa-edit h2 mb-1"></i></span>
                    <br>
                    <span>تعديل الفئات </span>
            </div>
        </a>
    </div>
        
    <div class="control-card mt-3 col-lg-4 col-md-4 col-sm-6 col-6">
        <a class="bg-primary"  href="{% url 'new_product' %}">
            
            <div class="text-center">
                    <span><i class="far fa-plus-square h2 mb-1"></i></span>
                    <br>
                    <span>أضافة منتج جديد</span>
            </div>
        </a>
    </div>

    
    <div class="control-card mt-3 col-lg-4 col-md-4 col-sm-6 col-6">
        
        <a class="bg-danger" href="{% url 'control_list_product' %}">
            <div class="text-center">
                <span><i class="far fa-edit h2 mb-1"></i></span>
                <br>
                  <span>تعديل و حذف المنتجات</span>
            </div>   
        </a>
    </div>

    <div class="control-card mt-3 col-lg-4 col-md-4 col-sm-6 col-6">
        <a class="bg-success"  href="{% url 'list_new_orders' %}">

            <div class="text-center">
                  
                    <span><i class="fas fa-clipboard-list h2 mb-1"></i></span>
                    <br>
                    <span>الطلبات الجديدة</span>
            </div>
        </a>
    </div>
    <div class="control-card mt-3 col-lg-4 col-md-4 col-sm-6 col-6">
        <a class="bg-secondary" href="{% url 'list_history_orders' %}">
            <div class="text-center">
                    <span><i class="fas fa-history h2 mb-1"></i></span>
                    <br>
                    <span>سجل الطلبات</span>
            </div>
        </a>    
        
    </div>
</div>

    
{% endblock %}
