{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<h3 class="text-center mt-5"> {{ title }}</h3>
<div class="row mt-5">


    <div class="col-lg-4 col-md-6 col-sm-8 col-8 m-auto">
        <div class="card-order mb-3 ">
            <div class="overlaye rounded  ">
                <p><span> الاسم : </span>{{ order.full_name }}</p>
                <p><span> رقم الهاتف : </span>{{ order.phonenumber }}</p>
                {% if order.color %}
                <p><span>اللون : </span>{{ order.color }}</p>
                {% endif %}
                {% if order.size %}
                <p><span>القياس : </span>{{ order.size }}</p>
                {% endif %}
                <p><span>التاريخ : </span>{{ order.date|date:"d-n-Y" }} في الساعة {{ order.date|time:"g:iA" }}</p>
                
                

                <div class="card-product-image-admin " style="background-image: url('{{ order.product.img.url }}')">
                <img src="{{ order.product.img.url }}" width="100%" height="auto">
                </div>
                <p><span>أسم المنتج : </span>{{ order.product.title }}</p>
                
                <p><span> سعر المنتج : </span>{{ order.product.price }}</p>
                {% if order.product.discount_set.first %}
                <p><span> قيمة الخصم : </span>{{ order.product.discount_set.first.percentage|floatformat }}%</p>
                {% endif %}
                
                {% if order.accept %}
                <a href="{% url 'list_history_orders' %}" class="link-buy bg-danger">تم التسليم العودة الى  سجل الطلبات </a>
                {% else %}
                <a href="{% url 'order_accept' order.id %}" class="link-buy bg-success">تأكيد التسليم</a>  
                <a href="{% url 'control_delete_order' order.id %}" class="link-buy bg-danger">رفض و حذف الطلب</a>  
                
                {% endif %}
                    
                



            </div>
        </div>
    </div>
</div>

{% endblock %}
